{% extends 'base.html' %}

{% block content %}

<div class="portada-habitacion">
    <h1>Reserva</h1>
</div>

<h2>Buscar Habitaciones Disponibles</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if habitaciones_disponibles %}
    <h3>Habitaciones Disponibles</h3>
    <ul>
        {% for habitacion in habitaciones_disponibles %}
        <li>
            <span>Habitación {{ habitacion.id_tipo_habitacion.nombre }}: {{ habitacion.precio_por_noche }}</span>
            <form method="post" action="{% url 'resumen_reserva' habitacion_id=habitacion.id_habitacion %}">
                {% csrf_token %}
                <input type="hidden" name="fecha_inicio" value="{{ fecha_inicio }}">
                <input type="hidden" name="fecha_fin" value="{{ fecha_fin }}">
                <button type="submit">Reservar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay habitaciones disponibles para las fechas seleccionadas en {{ nombre_hotel }}</p>
{% endif %}
{% endblock %}