{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="portada-habitacion">
    <h1>Resumen de Reserva</h1>
</div>

<h1>Resumen de Reserva</h1>
<p>Habitación: {{ habitacion.id_tipo_habitacion.nombre }}</p>
<p>Número: {{ habitacion.numero_habitacion }}</p>
<p>Piso: {{ habitacion.piso }}</p>
<p>Precio por noche: {{ habitacion.precio_por_noche }}</p>
<p>Fecha de inicio: {{ fecha_inicio }}</p>
<p>Fecha de fin: {{ fecha_fin }}</p>
<p>Noches: {{ noches }}</p>
<p>Adultos: {{ adultos }}</p>
<p>Niños: {{ niños }}</p>
<p>Total: {{ total }}</p>  <!-- Aquí se muestra el total -->

<form method="post" action="{% url 'confirmar_reserva' habitacion_id=habitacion.id_habitacion %}">
    {% csrf_token %}
    <input type="hidden" name="fecha_inicio" value="{{ fecha_inicio }}">
    <input type="hidden" name="fecha_fin" value="{{ fecha_fin }}">
    <input type="hidden" name="noches" value="{{ noches }}">
    <input type="hidden" name="adultos" value="{{ adultos }}">
    <input type="hidden" name="niños" value="{{ niños }}">
    <input type="hidden" name="total" value="{{ total }}">
    <button type="submit">Confirmar Reserva</button>
</form>
{% endblock %}
