/*-------------------------------------------------------------------
 Desde aqui hacia abajo es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/

.portada-habitacion {
    margin: 150px 0 0 0;
    padding: 60px 0;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-right: 0;
    border-left: 0;
}
.portada-habitacion h1{
    font-size: 50px;
}

/* caja login*/

.grid-club-members{
    display: flex;
    flex-direction: column;
}

.form{
    margin: 10px;
}

.box-registro {
     margin-top: 40px;
     margin-bottom: 60px;
     background-color: #1e1e1e;
     border-radius: 10px;
     box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
     padding: 30px 0 0 0;
     
}

.box-registro h1 {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 40px;
    
    
}

.container{
    max-width: 700px;
    margin-right: 0 !important;
}

.formulario-reg{
    padding: 10px 50px 0 50px;
}

.btn-registrar{
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #e3bb41;
    color: white;
    align-items: center;
}

.pregunta-form p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: white;
}

.pregunta-form a{
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    color: #1e1e1e;
    padding: 0 0 0 10px;
    color: #e3bb41;
}

.btn-formu{
    display: flex;
    justify-content: space-around;
}

.form-group {
    margin-bottom: 15px;
}

.datos label {
    display: block;
    margin: 10px 0;
    font-size: 17px;
    color: white;
}

.perfil{
    display: block;
    margin: 10px 0;
    font-size: 17px;
    color: #1e1e1e;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.errorlist {
    color: white;
    margin-top: 5px;
}
.errorlist li {
    color: white;
    list-style-type: none;
}

.form-control {
    border: 1px solid #ccc; 
    padding: 10px;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
    font-size: 12px;
}

.form-control:focus {
    border: 2px solid #ffffff; 
    outline: none; 
    box-shadow: 0 0 5px 1px #ffffff; 
}


.grid-club-members-2 {
    display: flex;
    justify-content: right;
    align-items: right;
}

.grid-club-members-2 img{
    width: 80%;
    margin-top: 30px;
}
/* caja login */


/*-------------------------------------------------------------------
 Desde aqui hacia arriba es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/
@media only screen and (min-width: 1100px){
    .grid-club-members{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
    
}