/*-------------------------------------------------------------------
 Desde aqui hacia abajo es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/

/* Portada */
.portada-habitacion {
    margin: 180px 0 0 0;
    padding: 40px 0;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-right: 0;
    border-left: 0;
}

.portada-habitacion h1 {
    font-size: 40px;
}

/* End */
.btn-conocer {
    font-size: 18px;
    display: flex;
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    background-color: #e3bb41;
    color: white;
    justify-content: center;
    align-items: center;
}

.btn-room {
    font-size: 14px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    color: #1E1E1E;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.btn-room:hover,
.btn-room.active {
    color: white;
}

.botones {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.botones button {
    padding: 0 0;
    margin: 0 0;
    cursor: pointer;
}

.box-categorias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    align-items: center;

}

.box-contenido {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: contrast(90%);
}

.box-contenido img {
    width: 100%;
    filter: brightness(40%);
    transition: filter 0.3s ease;
    /* Añade una transición suave */
}

.box-contenido:hover img {
    filter: brightness(70%);
}

.box-info {
    position: absolute;
    pointer-events: none;
    /* Mantener pointer-events: none; en box-info */
}

.box-info a {
    padding: 20px 22px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    pointer-events: auto;
    /* Permitir eventos de puntero en el enlace */
}

.box-titulo {
    font-family: serif;
    font-size: 20px;
    font-weight: 700;
    color: white;

}

.box-info i {
    font-size: 10px;
    padding: 0 0 0 10px;
}

/* imagenes de salones */

.contenedor-opciones {
    padding: 0 0 50px 0;
}

.opciones-resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.card {
    margin: 0.5em;
    box-shadow: 0px 5px 5px #c9c8c8;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.card-body p {
    font-size: 12px !important;
}

/*--------------------------------------------*/
/* ACCION QUE DESAPARECE LAS DEMAS CATEGORIAS
/*-------------------------------------------*/


.content .normal {
    display: block;
    /* Mostrar el contenido normal por defecto */
}

.content .super {
    display: none;
}

.content .premium {
    display: none;
}

/*----------------------------------*/
/* GRID SECCION NOSOTROS*-----------/
/*----------------------------------*/

/* aqui creamos el titulo para que aparezca uno adelante y "en Chile" atras dando efecto revista */



.mtop {
    margin-top: 40px;
}

.titulo-descrip {
    position: relative;
    display: flex;
    align-items: center;

}

.titulo-descrip h1 {
    font-family: serif;
    font-size: 40px;
    font-weight: 500;
    opacity: 0.5;
    position: relative;

}


.bienvenida {
    padding: 0 30px 0 30px;
}

.titulo-descrip h2 {
    font-size: 45px;
    font-family: serif;
    font-weight: 400;
    position: absolute;
    display: flex;
}


.nosotros {
    position: relative;
}


.nosotros p {
    font-size: 17px;
    text-align: justify;
    padding: 20px 0 0 0;
    margin: 0 10px 0 0;

}

/* ESTILO DE LISTA COMODIDADES */

.servicios-box {
    width: 100%;
}

.servicios-box-hijo {
    padding: 30px 15px;
    display: flex;
    text-align: center;
}

.servicios-box ul {
    padding: 0 30px 0 0;
}

.servicios-box li {
    font-size: 14px;
    padding: 10px;
    list-style: none;
}

.box-hijo-1 {
    padding: 0 25% 0 0;
}

.fa-arrow-right {
    padding: 0 10px 0 0;
}

/* ESTILO DE LISTA COMODIDADES */





.btn-reserva {
    display: flex;
    justify-content: left;
}


.carro-imagenes img {
    width: 100% !important;
}

/*con los grid de abajo, haremos que se separe el texto del carrusel de imagenes, y que cuando se utilicen dispositivos mas pequeños, 
el carrusel se ubique bajo el texto*/

.grid-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 40px;
    padding: 0 0 10px 0;
}

.grid-nosotros-1 {
    grid-area: 1 / 2 / 2 / 3;
}

.grid-nosotros-2 {
    grid-area: 1 / 1 / 2 / 2;
}

.grid-nosotros-2 img {
    width: 100%;
}

/*----------------------------------*/
/* FIN GRID SECCION NOSOTROS
/*----------------------------------*/
/*----------------------------------*/
/* SERVICIOS
/*----------------------------------*/
.titulo-descrip-serv{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 60px 0 0 0;
}
  
.titulo-descrip-serv h1 {
    font-size: 70px;
    font-weight: 500;
    opacity: 0.5;
    font-family: serif;
    position: relative;
    
  }
.iconos-hotel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    padding: 20px 20px 60px 20px;
    align-items: center;
}

.iconos-hotel p {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 12px;
    font-weight: 700;


}

.iconos-hotel img {
    width: 100%;
    padding: 10px 20px 0 20px;
    transition: transform 0.4s;

}

.iconos-hotel img:hover {
    transform: scale(1.1);
    cursor: pointer;

}
/*----------------------------------*/
/* FIN SERVICIOS
/*----------------------------------*/
/*-------------------------------------------------------------------
 Desde aqui hacia arriba es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/

/*----------------------------------*/
/*MEDIA QUERYS --- RESPONSIVO*/
/*----------------------------------*/


@media screen and (max-width: 1100px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;

        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
        display: block;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .grid-nosotros {
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0 0 20px 0;
    }

    .grid-nosotros-1 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid-nosotros-2 {
        grid-area: 1 / 1 / 2 / 2;
    }


}



@media only screen and (min-width: 1100px) {

    .portada-habitacion {
        margin: 150px 0 0 0;
        padding: 60px 0;
        text-align: center;
        border: 1px solid #c7c7c7;
        border-right: 0;
        border-left: 0;
    }

    .portada-habitacion h1 {
        font-size: 50px;
    }

    .btn-room {
        font-size: 14px;
        display: flex;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        color: #1E1E1E;
        justify-content: center;
        align-items: center;
        font-weight: 400;
    }

    .box-categorias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
    }

    .box-contenido {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        filter: contrast(90%);
    }

    .box-contenido img {
        width: 100%;
        filter: brightness(40%);
        transition: filter 0.3s ease;
        /* Añade una transición suave */
    }

    .box-contenido:hover img {
        filter: brightness(70%);
    }

    .box-info {
        position: absolute;
        pointer-events: none;
        /* Mantener pointer-events: none; en box-info */
    }

    .box-info a {
        padding: 20px 22px;
        border: 1px solid white;
        text-decoration: none;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        pointer-events: auto;
        /* Permitir eventos de puntero en el enlace */
    }

    .box-titulo {
        font-family: serif;
        font-size: 40px;
        font-weight: 700;
        color: white;

    }

    .box-info i {
        font-size: 10px;
        padding: 0 0 0 10px;
    }

    /* BOTONES DE HABITACIONES */
    .main {
        text-align: center;
    }

    .botones {
        display: flex;
        justify-content: center;
        padding: 60px 0;
    }


    .botones button {
        padding: 0 0;
        margin: 0 0;
        cursor: pointer;
    }

    .content .normal {
        display: block;
        /* Mostrar el contenido normal por defecto */
    }

    .content .super {
        display: none;
    }

    .content .premium {
        display: none;
    }

    .content img {
        max-width: 100%;
        height: auto;
    }

    /* BOTONES DE HABITACIONES */

    /* ESTILO DE LISTA COMODIDADES */

    .servicios-box {
        width: 100%;
    }

    .servicios-box-hijo {
        padding: 15px 0 70px 0;
        display: flex;
        text-align: center;
    }

    .servicios-box ul {
        padding: 0 30px 0 0;
    }

    .servicios-box li {
        font-size: 16px;
        padding: 10px;
        list-style: none;
    }

    .box-hijo-1 {
        padding: 0 30% 0 0;
    }

    .fa-arrow-right {
        padding: 0 10px 0 0;
    }

    /* ESTILO DE LISTA COMODIDADES */

    /* DESCRIPCION EVENTO */
    .descrip-evento {
        text-align: left;
        width: 100%;
    }

    .descrip-evento p {
        font-size: 17px;
        padding: 20px 0 60px 0;
    }

    .form-evento {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        text-align: left;
        padding: 20px 20px 0 20px;
        font-family: "Montserrat", sans-serif !important;
    }

    .form-evento-2 {
        text-align: left;
        padding: 0 20px 20px 20px;
        font-family: "Montserrat", sans-serif !important;
    }

    .form-label {
        font-size: 17px !important;
    }

    .btn-evento {
        width: 100% !important;
        font-size: 14px !important;
        display: flex !important;
        padding: 10px !important;
        border-radius: 3px !important;
        background-color: #e3bb41 !important;
        color: white !important;
        justify-content: center !important;
        align-items: center !important;
        font-weight: 400 !important;
    }

    .mb-3 {
        padding: 0 10px !important;
    }

    .form-control {
        font-size: 15px !important;
    }

    .titulo-form {
        background-color: #ececec;
        border-radius: 2px;
    }

    .titulo-form h1 {
        padding: 40px 0 0 0;
        text-align: center;
    }

    .btn-formulario {
        display: flex;
        justify-content: center;
        padding: 10px 10px 20px 10px;
    }

    /* DESCRIPCION EVENTO */
    /* servicios */

    .iconos-hotel {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        padding: 30px 20px 60px 20px;
        align-items: center;
    }

    .iconos-hotel p {
        font-size: 16px;
    }

    section {
        padding: 0;
    }

    /* servicios */





}