<!-- templates/index.html -->
 <!-- esto siempre debe ir primero en todas las plantillas que no sean la base -->
{% extends 'base.html' %}
<!-- -------------------------------------------------------------------------- -->

<!--agregar siempre esta linea en todas las plantillas x.x -->

{% load static %}  

<!-- -------------------------------------------------------------------------- -->

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <!--Aqui se debe colocar el contenido diferente de cada página-->

    <!--TEXTO SOBRE EL VIDEO-->
    <div class="barra-video">
        <h1>
            SEIHITSU HOTEL
        </h1>
        <p>
            Treinta años fusionando la elegancia japonesa con los paisajes chilenos
        </p>
        <h1>
            SEIHITSU HOTEL
        </h1>
        <p>
            Treinta años fusionando la elegancia japonesa con los paisajes chilenos
        </p>
    </div>

    <div id="banner">
        <div class="text-promo">
            <h1>
                SEIHITSU HOTEL
            </h1>
            <p>
                Treinta años fusionando la elegancia japonesa con los paisajes chilenos
            </p>
        </div>
        <!--VIDEO PROMOCIONAL-->
        <video muted autoplay loop>
            <source src="{% static 'images/comp 1_4.mp4' %}" type="video/mp4">
        </video>
    </div>

    <section class="reserva">
        <div class="container-center">
            <div class="text">
                <h1> <span>RESERVA</span> TU ESTADÍA </h1>
                <div class="form">
                    <form class="grid opciones">
                        <select name="sucursal">
                            <option>Santiago</option>
                            <option>Viña del Mar</option>
                        </select> <!--no se puede cambiar el azul en las opciones, ya que es por navegador-->
                        <input type="text" id="in" onfocus="(this.type='date')" class="inputs" name="in"
                            placeholder="Entrada">
                        <input type="text" id="out" onfocus="(this.type='date')" class="inputs" name="out"
                            placeholder="Salida">
                        <input type="number" placeholder="Adultos" id="ad" class="inputs" name="ad">
                        <button id="reservar" class="boton_reserva" type="button" value="submit">REVISAR</button>
                    </form>
                </div>
            </div>

        </div>
    </section>


    <!--TEXTO PRESENTACION-->
    <section class="nosotros top">
        <div class="container-center bienvenida">
            <div class="grid-nosotros">
                <div class="col heading grid-nosotros-1">
                    <div class="titulo-descrip">
                        <h1>EN CHILE</h1>
                        <h2>Un rincón de Japón </h2>
                    </div>
                    <p>
                        Ya sea que nos visite por negocios en la vibrante ciudad de Santiago o busque un retiro de paz
                        en la hermosa Viña del Mar, estamos comprometidos a ofrecerle una experiencia única que fusiona
                        la hospitalidad japonesa con la calidez chilena. En nuestra sucursal de Santiago, encontrará un
                        ambiente de lujo y sofisticación, perfecto para combinar el descanso con sus compromisos
                        profesionales. Por otro lado, nuestra sucursal en Viña del Mar le ofrece un refugio de
                        tranquilidad, rodeado de naturaleza, ideal para aquellos que desean desconectarse del ajetreo
                        diario y reconectarse consigo mismos.
                        <br>
                        <br>
                        En ambas ubicaciones, cada detalle ha sido meticulosamente diseñado para brindarle una estancia
                        inolvidable. Desde habitaciones elegantes y serenas, hasta servicios de spa de clase mundial y
                        actividades de bienestar, nuestro hotel es un oasis de paz y lujo. Le invitamos a sumergirse en
                        un entorno donde la elegancia, la paz y la naturaleza se encuentran en perfecta armonía, y donde
                        cada momento está pensado para su máxima comodidad y satisfacción.
                    </p>
                    <button class="btn-conocer">CONOCER MÁS</button>
                </div>
                <div class="grid-nosotros-2 contenedor-imagen">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner carro-imagenes">
                            <div class="carousel-item active">
                                <img src="{% static 'images/habitacion.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/piscina.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/resto_barra.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/resto.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/gym.jpg' %}"class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/spa.jpg' %}"class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/eventos.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/cancha.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FIN DE BIENVENIDA-->
    <!--MUESTRA DE HABITACIONES-->
   
    <div class="container-center">
        <div class="titulo-categorias">
            <h1>SEIHITSU HOTEL</h1>
            <h2>SEIHITSU HOTEL</h2>
        </div>
        <div class="box-categorias">
            <div class="box-contenido">
                <img src="{% static 'images/habitacion-portada.jpg' %}" alt="">
                <div class="box-info">
                    <h3 class="box-titulo">Habitaciones</h3>
                    <a href="../html/habitaciones.html">Más información <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></a>
                </div>
            </div>
            <div class="box-contenido">
                <img src="{% static 'images/resto_portada.jpg' %}" alt="">
                <div class="box-info">
                    <h3 class="box-titulo">Restaurantes</h3>
                    <a href="../html/restaurantes.html">Más información <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></a>
                </div>
            </div>
            <div class="box-contenido">
                <img src="{% static 'images/evento_portada.jpg' %}" alt="">
                <div class="box-info">
                    <h3 class="box-titulo">Eventos</h3>
                    <a href="#">Más información <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></a>
                </div>
            </div>
            <div class="box-contenido">
                <img src="{% static 'images/galeria_portada.jpg' %}"alt="">
                <div class="box-info">
                    <h3 class="box-titulo">Galería</h3>
                    <a href="#">Más información <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></a>
                </div>
            </div>
            

        </div>
    </div>

    <!--NUESTROS SERVICIOS RESUMEN-->

    <div class="bg-categ-serv top container-center">
        <div class="bienvenida">
            <div class="titulo-descrip-serv">
                <h1>SERVICIOS</h1>

            </div>
        </div>
        <div class="iconos-hotel">
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_tour.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Tour</p>
                </div>
            </div>
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_rser.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Restaurantes</p>
                </div>
            </div>
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_wifi.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Wi-fi</p>
                </div>
            </div>
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_lav.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Lavandería</p>
                </div>
            </div>
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_spa.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Spa</p>
                </div>
            </div>
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_gym.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Gimnasio</p>
                </div>
            </div>
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_pool.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Piscina/Termas</p>
                </div>
            </div>
            <div>
                <div>
                    <a href="{% url 'servicio' %}" ><img src=
                        "{% static 'images/servicio_cancha.png' %}" alt="..."></a>
                </div>
                <div>
                    <p>Cancha de tenis</p>
                </div>
            </div>
        </div>

    </div>







    <!--Aqui termina el contenido diferente de cada página-->
{% endblock %}