<!-- templates/index.html -->
 <!-- esto siempre debe ir primero en todas las plantillas que no sean la base -->
 {% extends 'base.html' %}
 <!-- -------------------------------------------------------------------------- -->
 
 <!--agregar siempre esta linea en todas las plantillas x.x -->
 
 {% load static %}  
 
 <!-- -------------------------------------------------------------------------- -->
 
 {% block extra_head %}
 <link rel="stylesheet" href="{% static 'css/servicio.css' %}">
 {% endblock %}
 
 {% block content %}

    <!--Aqui se debe colocar el contenido diferente de cada página-->

    <div class="portada-habitacion">
        <h1>Servicios</h1>
    </div>

    
    <!--Aqui termina el contenido diferente de cada página-->
{% endblock %}