<!-- usuarios/templates/usuarios/login.html -->
<!-- esto siempre debe ir primero en todas las plantillas que no sean la base -->
{% extends 'base.html' %}
<!-- -------------------------------------------------------------------------- -->

<!--agregar siempre esta linea en todas las plantillas x.x -->

{% load static %}  

<!-- -------------------------------------------------------------------------- -->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<!-- -------------------------------------------------------------------------- -->
{% block content %}
<!--------------------------------------------Aqui se debe colocar el contenido diferente de cada página-------------------------------->
<div class="portada-habitacion">
    <h1>Bienvenido a Seihitsu Hotel</h1>
</div>


<!-- esto es el login -->

<div class="grid-club-members">
    <div class="grid-club-members-1">
        <div class="container">
            <div class="box-registro">
                <h1>Iniciar sesión</h1>
                <form method="post" class="formulario-reg">
                    {% csrf_token %}

                    <div class="datos">
                        <label for="{{ form.username.id_for_label }}" class="label">Nombre de usuario</label>
                        <input type="text" class="form-control" name="{{form.username.html_name}}"
                        placeholder="Escribe tu nombre de usuario"{{ form.username }}>
                    </div>


                    <div class="datos">
                        <label for="{{ form.password.id_for_label }}" class="label">Contraseña</label>
                        <input type="password" class="form-control" name="{{form.password.html_name}}"
                            placeholder="Escribe tu contraseña"{{ form.password }}>
                    </div>

                    <div class="btn-formu">
                        <button type="submit" class="btn-registrar">Iniciar Sesión</button>
                    </div>
                </form>
                <div class="pregunta-form">
                    <p>¿Aún no te has registrado? <a href="{% url 'registro' %}"> Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-club-members-2">
        <img src="{% static 'images/login.jpg' %}" alt="">
    </div>
</div>

<!--Aqui termina el contenido diferente de cada página-->
    {% endblock %}