<!-- usuarios/templates/usuarios/login.html -->
<!-- esto siempre debe ir primero en todas las plantillas que no sean la base -->
{% extends 'base.html' %}
<!-- -------------------------------------------------------------------------- -->

<!--agregar siempre esta linea en todas las plantillas x.x -->

{% load static %}  

<!-- -------------------------------------------------------------------------- -->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<!-- -------------------------------------------------------------------------- -->
{% block content %}
<!--------------------------------------------Aqui se debe colocar el contenido diferente de cada página-------------------------------->
<div class="portada-habitacion">
    <h1>Iniciar sesión</h1>
</div>


<!-- esto es el login -->
<h1>Iniciar sesión</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

 <!--------------------------------------------Aqui termina el contenido diferente de cada página---------------------------------------->


<!-- ejemplo -->

    <!-- ------------------------------- -->

    <h1>Formulario Cliente</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Añade clases CSS adicionales según necesites -->
        <div class="form-group">
            {{ form.id_tipo_cliente.label_tag }}
            {{ form.id_tipo_cliente }}
        </div>
        <div class="form-group">
            {{ form.numero_identificacion.label_tag }}
            {{ form.numero_identificacion }}
        </div>
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            {{ form.apellido.label_tag }}
            {{ form.apellido }}
        </div>
        Añade más campos según necesites


<!--Aqui termina el contenido diferente de cada página-->
    {% endblock %}